* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    body {
        background-image: url(../image/Frame\ 2.jpg);
        background-size: cover;
        font-family: 'Montserrat', sans-serif;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            color: #000000;

            .photos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                .design {
                    width: 250px;
                    margin: 20px;
                    border-radius: 5px;
                    border: 3px solid #000000;

                    &:hover {
                        scale: 102%;
                        transition: all 500ms;
                    }
                }
            }
            
            .button-home {
                width: 100px;
                height: 40px;
                margin: 30px;
                background: #F5FFFA;
                border-radius: 8px;
                border: 2px solid #F5FFFA;

                a {
                    font-size: 15px;
                    text-decoration: none;
                    color: #808080;

                }
            }
        }
    }
}